.services {
padding-bottom: 55px;

&__text {
  font-size: 16px;
  line-height: 1.8;

}

  &__container {
    border-top: 4px solid #f5f5f5;
    padding-top: 20px;
  }
  &__btn {
    margin-top: 60px;
  }
    &-wrap {
  max-width: 50%;
  }
  &__section {
   background: url('../images/base-2.png') no-repeat 83% 0;
  }
  &-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__box {
      margin-bottom: 50px;

    }
  
    &__subtitle {      
      text-align: center;
    }
    &__explore {
      margin:30px 70px 30px 30px;
      width: 90px;
      height: 90px;

        &::before {
        content: "";
        border: 6px solid #d828b8;
        border-radius: 50%;
        position: absolute;
        transform: translate(38px, 95px);
      }
    }
    &__img {
      border: 1px solid #d961f2;
      border-radius: 11%;
      width: 90px;
      height: 90px;
      padding:15px;
      position: relative;
        

      
        &_g {
          padding: 28px 11px;
          border: 1px solid #d961f2;
          border-radius: 11%;
          width: 90px;
          height: 90px;
        }
    }
  }
}

